API_ID=36915299
API_HASH=8f6f4afed9be4056445006b6f179e788
PHONE=+79850118357
SESSION_STRING=1ApWapzMBu1fpC1whzn6X-6Xj5mHFcz48uOR4fmIq_fxKy_dpx3qpK0sX-OBzTlVPJ5VKvGz7Ba1_V-U1Q2jHhoBhnCvh9x3jRD9h9QFQ7YlazMNBzynm1PKcSe0OyBoiX95NY71C8V9POK9h0ccRn91veWLhIY29VhuvJPN3R8OKR_Aiub9LSbf8rE7C6DziSfMnqiWSBs_wR3dZvbm9JcsDOkXpp9AFSx9RJOGVlUMQylMhrReHyvjSK-NdBX0RAfnCoSbMp2HmWt-fHEzhggiUN8f9DdxHj_pKLdctcc_0LvA1PYbk5Qyssu0OcMvgE3A2fH3ESXJZPUOJza859gejeb8PFFo=
PORT=3000
